{% extends "base.html" %}

{% block title %}SPACS Shops{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        <h1>Shops</h1>
        <h4>Shops currently associated with SPACS.</h4>
        <a href="{{ url_for('.add_shop') }}">
            <button type="button" class="btn btn-primary">Add Shop</button>
        </a>

        {% for shop in query %}
            <hr/>
            <table class="table table-bordered">
                <tr>
                    <th>Shop ID</th>
                    <th>Shop Owner</th>
                    <th>Address</th>
                    <th>Email</th>
                </tr>
                {% for owner in owners %}
                    {% if shop.shop_admin_id == owner.id %}
                        <tr>
                            <td>{{ shop.id }}</td>
                            <td>{{ owner.name }}</td>
                            <td>{{ owner.address }}</td>
                            <td>{{ owner.email }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <table class="table table-bordered">
                <tr>
                    <th>Shop Name</th>
                    <th>Shop Address</th>
                    <th>Shop Email</th>
                    <th>Shop Phone</th>
                </tr>
                <tr>
                    <td>{{ shop.name }}</td>
                    <td>{{ shop.address }}</td>
                    <td>{{ shop.email }}</td>
                    <td>{{ shop.phone }}</td>
                </tr>
            </table>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <a href="{{ url_for('.edit_shop', shop_id=shop.id) }}">
                        <button type="button" class="btn btn-warning">Edit Shop
                        </button>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{{ url_for('.delete_shop', shop_id=shop.id) }}">
                        <button type="button" class="btn btn-danger">Delete
                            Shop
                        </button>
                    </a>
                </div>
            </div>
        {% else %}
            <em>No shops registered with SPACS.</em>
        {% endfor %}

    </div>

{% endblock %}